.top {
    width: 50%;
    height: 75px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    outline: none;


}

.top:hover {
    outline: none;
}

.red {
    color: black;
    background-color: crimson;
}

li {
    background-color: darkolivegreen;
    margin: 2px 0;
    line-height: auto;
}